.w-12 {
	width: 32px;
}
.h-12 {
	height: 32px;
}
.relative {
	position: relative;
}
.stroke-1 {
	stroke-width: 1;
}
.animate-loading-spin {
	animation: spin 1.7s linear infinite;
}
.block {
	display: block;
}
.int-loader-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.animate-loading-dash {
	animation: dash 1.7s linear infinite;
}
.stroke-accent {
	stroke: #111111;
}

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
.animate-spin {
	animation: spin 1s linear infinite;
}

#anywhere-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999;
	background: rgba(40, 51, 61, 0.7);
	opacity: 0.7;
	height: 100%;
	width: 100%;
	cursor: pointer;
	cursor: hand;
	display: block;
}
#anywhere-fancy-box {
	width: 510px;
	height: auto;
	position: absolute;
	z-index: 999999999 !important;
	left: 50%;
	top: 0;
	background-color: #ffffff;
}
#anywhere-fancy-box-iframe {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
#anywhere-fancy-box-content {
	height: 635px;
}

#anywhere-fancy-box-close-icon {
    display: flex;
    width: 20px;
    height: 20.682px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: -8px;
    top: -9px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #ffffff;
    background: #181818;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
    }

/*  #2601*/
@media (max-width: 1200px) and (orientation: landscape) {
	div#anywhere-fancy-box-content {
		height: 70vh;
	}
}
/* #2601 */