
.anywhere-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.anywhere-box {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 80%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.anywhere-close {
    all: unset;               /* removes default button styles */
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -8px;
    top: -9px;
    cursor: pointer;
    padding: 3px;
    z-index: 3;
    border-radius: 12px;
    border: 1px solid #fff;
    background: #181818;
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px -1px 4px,
        rgba(0, 0, 0, 0.16) 0px 8px 16px;
}


.anywhere-loader {
  position: absolute;
  inset: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.anywhere-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: none;
}

/* Loader animation */
.animate-loading-spin {
  animation: spin 1s linear infinite;
}

.animate-loading-dash {
  stroke-dasharray: 90;
  stroke-dashoffset: 60;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes anywhereSpin {
  to {
    transform: rotate(360deg);
  }
}
